<!DOCTYPE html>
<html>
<head>
	<title>Find some movie stuff!!</title>
    <script type="text/javascript" src="scripts.js"></script>
</head>
<body>
<p><strong>Enter part or all of a movie title:</strong><br>
<input type="text" id="query"><br>
<a href="javascript:;" id="get_movies">Submit</a></p>

<div id="nav" style="display:none">
	<a href="javascript:;" id="prev">Previous</a> | <a href="javascript:;" id="next">Next</a>
</div>

<div id="show_me_stuff">

</div>

</body>
</html>